body {
  background-color: DarkCyan;
}

h1 {
  font-size: 80px;
  color: MediumVioletRed;
  text-align: center;
}

.studentContainer {
  width: 1000px;
  height: 300px;
  margin: 50px;
}


#name, #shoutOut, .studentContainer img {
  margin: 20px;
}

.studentContainer #name{
  font-size: 60px;
}

.studentContainer #shoutOut{
  font-size: 30px;
  color: white;
}

.studentContainer img {
  width: 375px;
  height: 250px;
  border: 5px solid black;
  float: right;
}

.navigators {
  margin: 20px;
}

.navigators button {
  font-size: 20px;
  margin: 10px;
  width: 100px;
  background-color: DarkBlue;
  color: DarkCyan;
}

.navigators p {
  font-size: 20px;
}

.profile {
  width: 53px;
  height: 35px;
  margin: 1px;
  background-color: grey;
  display: inline-block;
}


.gallery img{
  width: 53px;
  height: 35px;
  border: 1px solid black;
}

.active {
  width: 59px;
  height: 41px;
  background-color: MediumVioletRed;

}
